/* docs/.vitepress/theme/custom.css */

.VPHero .name {
  background: linear-gradient(
    120deg, 
    #00D2FF 0%, 
    #7B61FF 50%, 
    #C21BFF 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
  display: inline-block;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
